<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="escaping web, oz nova, charlie harrington, whatrocks, computer science, podcast, bradfield, technology, software engineer, software engineering, coding, programming">
    <title><%= title %></title>
    <link href="<%= pathTo("app.css") %>" rel="stylesheet">
  </head>
  <body>
    <%- body %>
  </body>
</html>
